<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SKIN CANCER DETECTOR</title>
    <link
      href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="../static/css/main.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">SKIN CANCER DETECTOR</a>
        <div class="guides">
          <button
            class="btn btn-outline-secondary my-5 my-sm-0"
            type="submit"
            onclick="sell()"
          >
            Guide
          </button>
          <div class="guide" id="guid">
            <h6 class="gh">GUIDE</h6>
            <ol>
              <li>Click the choose button</li>
              <li>select the image for your directory</li>
              <li>Click on detect to get your result</li>
            </ol>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div id="content" style="margin-top: 2em">
        

<h2></h2>

<div class="contain">
  <form id="upload-file" method="post" enctype="multipart/form-data">
    <label for="imageUpload" class="upload-label"> Choose... </label>
    <input
      type="file"
      name="file"
      id="imageUpload"
      accept=".png, .jpg, .jpeg"
    />
  </form>

  <div class="image-section" style="display: none">
    <div class="img-preview">
      <div id="imagePreview"></div>
    </div>
    <div class="button">
      <button type="button" class="btn btn-primary btn-lg" id="btn-predict">
        Detect 
      </button>
    </div>
  </div>

  <div class="loader" style="display: none"></div>

  <h3 id="result">
    <span> </span>
  </h3>
  <div id="result-info">
    <div id="basal">
      <p>
        Basal cell carcinoma is the most common type of skin cancer. It arises
        from the basal cells in the lower epidermis, which are responsible for
        producing new skin cells. Basal cell carcinoma often appears as a waxy
        bump, a non-healing sore, or a pinkish patch on the skin.
      </p>
      <p>
        Causes: 
        <ol>
          <li>Chronic exposure to ultraviolet (UV) radiation from the sun or
          tanning beds is the most significant risk factor for BCC. </li>
          <li>Fair-skinned individuals and those with a history of sunburns or a family history of
          skin cancer are more susceptible.</li>
          <li> Weakened immune systems, exposure to
          radiation or arsenic, and certain genetic syndromes may also increase
          the risk.</li></ol>
      </p>
      <p>
        Treatment:
        <ol> 
          <li>For small BCCs, surgical procedures like excision, curettage,
        and electrodesiccation (scraping and burning) may be used.</li>
        <li> Mohs surgery, a specialized technique that removes thin layers of cancer-containing
        skin until no cancer cells remain, is often recommended for larger or
        more aggressive tumors.</li>
        <li>Other treatment options include cryotherapy
        (freezing the tumor), laser therapy, and topical medications like
        imiquimod or 5-fluorouracil.</li> </ol>
      </p>
    </div>
    <div id="squamous">
      <p>
        Squamous cell carcinoma is a common type of skin cancer that develops
        from the squamous cells in the outermost layer of the skin. It is
        usually caused by cumulative exposure to the sun over the years and is
        often found on sun-exposed areas, such as the face, ears, and hands.
      </p>
      <p>
        Causes:
        <ol>
          <li>Like BCC, SCC is mainly caused by prolonged exposure to UV
        radiation from the sun or tanning beds. </li>
        <li>Fair-skinned individuals, older
        people, and those with weakened immune systems or a history of chronic
        skin inflammation are at higher risk.</li>
      </p></ol> 
      <p>
        Treatment:
        <ol>
          <li>Surgical excision is the standard treatment for SCC.</li>
          <li>Mohs surgery may also be employed for larger or more aggressive tumors.</li> 
          <li>Radiation therapy can be used for tumors that cannot be easily removed
          surgically. In some cases, topical medications, such as 5-fluorouracil
          or imiquimod, might be prescribed.</li>
        </ol> 
      </p>
    </div>
    <div id="melanoma">
      <p>
        Melanoma is a type of skin cancer that develops from melanocytes, the
        cells that produce melanin (the pigment that gives color to the skin,
        hair, and eyes). It is the most dangerous form of skin cancer and can
        spread to other parts of the body.
      </p>
      <p>
        Causes:
        <ol>
          <li>Melanoma is often associated with intense, intermittent UV
            exposure and sunburns. </li>
        <li>Family history of melanoma, fair skin with
          freckles, multiple moles, and a weakened immune system are risk factors.</li>
        <li>UV radiation from tanning beds is also a risk factor for melanoma.</li>
        </ol> 
        
      </p>
      <p>
        Treatment: 
        <ol>
         <li> Surgical excision is the primary treatment for early-stage
        melanoma. </li>
        <li>In advanced cases, surgical procedures might be combined with
        other treatments, such as chemotherapy, immunotherapy, targeted therapy,
        and radiation therapy. </li>
        <li>Immunotherapy drugs like checkpoint inhibitors
        (e.g., pembrolizumab, nivolumab) and targeted therapy drugs (e.g.,
        vemurafenib, dabrafenib) have shown promising results in treating
        advanced melanoma.</li>
        </ol>
      </p>
    </div>
    <div id="ak">
      <p>
        Actinic keratosis (AK), also known as solar keratosis or senile keratosis, is a precancerous skin condition caused by long-term exposure to ultraviolet (UV) radiation from the sun or artificial sources like tanning beds. It appears as rough, scaly patches on the skin, usually in areas exposed to the sun, such as the face, ears, scalp, neck, hands, and forearms.      </p>
      <p>
        Causes: <br>
        The primary cause of actinic keratosis is chronic sun exposure, leading to the accumulation of DNA damage in the skin cells. Fair-skinned individuals, people with weakened immune systems, and those living in sunny climates are more susceptible to AK.
      </p>
      <p>
        Treatment:
        <ol> 
          <li> Topical Medications: Prescription creams or gels containing 5-fluorouracil (5-FU), imiquimod, or diclofenac can be applied to the affected areas, leading to the shedding of abnormal skin cells.</li>
        <li> Cryotherapy: Liquid nitrogen is used to freeze and destroy the AK lesions.</li>
        <li>Curettage and Electrodessication: The lesions are scraped off with a curette, and an electric needle is used to control bleeding and destroy any remaining abnormal cells.</li>
      <li>other treatment includes photodynamic Therapy (PDT) and Laser Therapy</li> </ol>
      </p>
    </div>
    <div id="nevi">
      <p>
        A nevus, commonly referred to as a mole, is a benign growth on the skin that arises due to the accumulation of melanocytes, the cells responsible for skin pigmentation. Moles can appear anywhere on the body and may vary in size, color, and shape.</p>
      <p>
        Causes: <br>
        The exact cause of nevi is not fully understood, but they are believed to be primarily influenced by genetics. Additionally, sun exposure and hormonal changes can also play a role in the development of moles. </p>
      <p>
        Treatment:
        <ol> 
          <li>  Surgical Excision: The mole is surgically cut out, and the wound is closed with stitches.</li>
        <li> Shave Excision: The mole is shaved off at the skin's surface using a scalpel or razor.</li>
        <li>Laser Removal: A laser is used to break down the pigment in the mole, causing it to fade away.</li>
      <li>Electrocautery: The mole is burned off using an electrical current.</li> </ol>
      </p>
    </div>
    <div id="pbk">
      <p>
        Pigmented benign keratosis (PBK), also known as seborrheic keratosis or senile wart, is a common non-cancerous skin growth. PBK usually appears as brown, black, or tan patches or bumps on the skin. These growths tend to be more prevalent in older individuals and can occur anywhere on the body, except for the palms and soles. <p>
        Causes: <br>
        The exact cause of pigmented benign keratosis is not well-understood, but it is believed to be linked to genetic factors and sun exposure.</p>
      <p>
        Treatment:
        <ol> 
          <li>  Cryotherapy: Freezing the growths with liquid nitrogen.</li>
        <li> Curettage: Scraping off the lesion with a curette.</li>
        <li>Electrocautery: Burning off the growth with an electric current.</li>
      <li>Laser Therapy: Using laser to vaporize the lesion.</li> </ol>
      </p>
    </div>
    <div id="vas">
      <p>
        Vascular lesions are abnormal clusters of blood vessels that can occur on or beneath the skin. This is a benign skin lesion meing it is non-cancerous <p>
        Causes: <br>
        The causes of vascular lesions vary depending on the specific type of lesion. Some vascular malformations are congenital, meaning they are present from birth and result from abnormal blood vessel development during fetal growth. Vascular tumors, on the other hand, may arise due to overgrowth of blood vessels at a later stage.  <p>
        <p>
          Treatment:
        <ol> 
          <li>  Laser Therapy: Pulsed-dye laser or other specialized lasers can be used to target and shrink blood vessels in vascular lesions.</li>
        <li>  Sclerotherapy: A sclerosing agent is injected into the lesion to cause it to collapse and shrink.</li>
        <li>Surgical Excision: Large or complex vascular lesions may require surgical removal.</li>
      <li>Embolization: For some deep-seated vascular malformations, a procedure may be done to block the blood flow to the lesion using special materials.</li> </ol>
      </p>
    </div>
  </div>

  
</div>



      </div>
    </div>
    <script
  src="../static/js/main.js"
  type="text/javascript"
></script>
<script   src="../static/js/script.js">
</script>
  </body>
  
</html>
